<form method="post" action="/employee">
  <fieldset>
    <legend>Add Employee</legend>
    <div class="form-group">
      <label class="form-label mt-4">Name</label>
      <input type="text" class="form-control" name="fullName" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Email Address</label>
      <input type="email" class="form-control"  placeholder="Enter Your Email" name="email">
    </div> 
    <div class="form-group">
      <label class="form-label mt-4">Phone Number</label>
      <input type="text" class="form-control"  placeholder="Enter Your Phone Number" name="phone">
    </div> 
    <div class="form-group">
      <label class="form-label mt-4">City</label>
      <input type="text" class="form-control"  placeholder="Enter Your City" name="city">
    </div> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>